
## <summary>policy for dankcoin</summary>


########################################
## <summary>
##	Transition to dankcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dankcoin_domtrans',`
	gen_require(`
		type dankcoin_t, dankcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dankcoin_exec_t, dankcoin_t)
')


########################################
## <summary>
##	Execute dankcoin server in the dankcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dankcoin_initrc_domtrans',`
	gen_require(`
		type dankcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dankcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search dankcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dankcoin_search_lib',`
	gen_require(`
		type dankcoin_var_lib_t;
	')

	allow $1 dankcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dankcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dankcoin_read_lib_files',`
	gen_require(`
		type dankcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dankcoin_var_lib_t, dankcoin_var_lib_t)
')

########################################
## <summary>
##	Manage dankcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dankcoin_manage_lib_files',`
	gen_require(`
		type dankcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dankcoin_var_lib_t, dankcoin_var_lib_t)
')

########################################
## <summary>
##	Manage dankcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dankcoin_manage_lib_dirs',`
	gen_require(`
		type dankcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dankcoin_var_lib_t, dankcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an dankcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dankcoin_admin',`
	gen_require(`
		type dankcoin_t;
		type dankcoin_initrc_exec_t;
		type dankcoin_var_lib_t;
	')

	allow $1 dankcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, dankcoin_t)

	dankcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dankcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dankcoin_var_lib_t)

')

